<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Clubs Page</title>
</head>
<body>

  <header>
    <a href="{{ url_for('index') }}">Home</a>
    <a>About</a>
    <h1>Clubs Included</h1>
  </header>

  <main>
    <!-- Club Profiles -->
    <div class="club-profile">
      <!-- Example in Flask template using url_for -->
      <img src="{{ url_for('static', filename='gdsc.png') }}" alt="GDSC" class="club-logo">
      <h2><a href="https://gdsc.community.dev/kk-wagh-institute-of-engineering-education-and-research-nashik/" style="color: #262728; text-decoration: none;">GDSC</a></h2>
    </div>

    <div class="club-profile">
      <!-- Example in Flask template using url_for -->
      <img src="{{ url_for('static', filename='mlsc.png') }}" alt="MLSC" class="club-logo">
      <h2><a href="https://www.linkedin.com/company/mlsc-k-k-wagh-institute-of-engineering-education-research/about/" style="color: #262728; text-decoration: none;">MLSC</a></h2>
    </div>

    <div class="club-profile">
      <img src="{{ url_for('static', filename='idea.png') }}" alt="IDEA LAB" class="club-logo">
      <h2>IDEA LAB</h2>
    </div>

    <!-- Add more club profiles as needed -->

  </main>

</body>
</html>
